main {
    height: 73%;
    background: url("david-jorre-9f1gCaLkZBU-unsplash.jpg");
    background-size: cover;
}

@media only screen and (max-width: 768px) {
.block {
    height: 50%;
    width: 100%;
}
.block2 {
    background-color: darkviolet;
    height: 27%;
    width: 100%;
}
.left {
    position: relative;
    height: 85%;
    width: 40%;
    top: 10%;
    float: left;
    left: 5%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2%;
    border-collapse: separate;
    box-shadow: 0 0 2px 2px black;
}
.right {
    position: relative;
    height: 85%;
    width: 40%;
    top: 5%;
    float: right;
    right: 5%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2%;
    border-collapse: separate;
    box-shadow: 0 0 2px 2px black;
}
.left h1, .right h1 {
    font-size: 150%;
    font-weight: normal;
    padding: 10px;
    margin: 15px 10px 10px 10px;
    font-family: Tahoma, serif;
    color: black;
    text-align: left;
}
.left p, .right p {
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.block2 h1{
    position: relative;
    top: 12%;
    left: 5%;
    color: white;
    font-size: 100px;
    text-align: left;
}
#article:hover {
    color: blue;
}
}
.block {
    height: 50%;
    width: 100%;
}
.block2 {
    background-color: darkviolet;
    height: 27%;
    width: 100%;
}
.left {
    position: relative;
    height: 85%;
    width: 40%;
    top: 10%;
    float: left;
    left: 5%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2%;
    border-collapse: separate;
    box-shadow: 0 0 2px 2px black;
}
.right {
    position: relative;
    height: 85%;
    width: 40%;
    top: 5%;
    float: right;
    right: 5%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2%;
    border-collapse: separate;
    box-shadow: 0 0 2px 2px black;
}
.left h1, .right h1 {
    font-size: 150%;
    font-weight: normal;
    padding: 10px;
    margin: 15px 10px 10px 10px;
    font-family: Tahoma, serif;
    color: black;
    text-align: left;
}
.left p, .right p {
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.block2 h1{
    position: relative;
    top: 12%;
    left: 5%;
    color: white;
    font-size: 65px;
    text-align: left;
}
#article:hover {
    color: blue;
}

