body{
    height: 100%;
    background: url("wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    position: sticky;
    top: 0;
}
article{
    height: 300%;
}
#bg1{
    height:50%;
    overflow: hidden;
}
#bg2{
    height:50%;
    overflow: hidden;
}
h1 {
    position: relative;
    top: 7%;
    color: black;
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
    font-size: 50px;
}
#panel1{
    position: relative;
    top: 12%;
    height: 70%;
    width: 80%;
    left: 10%;
    background-color: white;
    border: 3px solid black;
    border-radius: 3%;
    border-collapse: collapse;
}
#panel2{
    position: relative;
    top: 12%;
    height: 70%;
    width: 80%;
    left: 10%;
    background-color: white;
    border: 3px solid black;
    border-radius: 3%;
}